page-resturant-details {
    
        .scroll-content {
            padding-top: 0 !important;
        }
        /** Image Slider **/
        ion-slides,
        .swiper-container {
            width: 100%;
            height: 300px;
        }
        .image-slider {
            .swiper-slide {
                background-size: cover !important;
                background-position: center !important;
            }
            .slider-contents {
                position: absolute;
                bottom: 20px;
                left: 10px;
                text-align: left;
                font: 20px Sans-Serif;
                margin: 0;
                color:black;
                text-shadow: 0 1px blue;
                .name {
                    font-size: 2.2rem;
                    line-height: 0;
                    font-weight: bold;
                    color: color($colors, color1);
                }
                .reviews {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }
            /* Ratings */
            ul {
                margin: 0px;
                padding: 0px;
                &.rating li {
                    padding: 0px !important;
                    background: none;
                    color: #ffb400;
                    ion-icon {
                        font-size: 15px;
                    }
                }
            }
        }
        .details-section {
            .price-section {
                .price {
                    font-size: 2rem;
                    font-weight: bold;
                    color: color($colors, color1);
                }
            }
            .features {
                ion-col {
                    flex: 0 0 50%;
                    text-align: center;
                    font-size: 1.5rem !important;
                    i {
                        color: color($colors, color2);
                        font-size: 2.5rem;
                        padding-bottom: 10px;
                    }
                    span {
                        font-size: 11px;
                        color: #948f8f;
                    }
                }
                .item-block {
                    text-align: center;
                    display: block;
                }
            }
        }
        ion-footer {
            .custom-btn {
                background: linear-gradient(to right bottom, color($colors, color1), color($colors, color2));
                padding: 2.2rem 7.2rem;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }

