<div class="container">
  <form class="animated zoomIn contents">
    <ion-list>

      <!-- Current Password -->
      <ion-item>
        <ion-label stacked color="color2">Current Password</ion-label>
        <ion-input type="password" placeholder="Current Password"></ion-input>
      </ion-item>

      <!-- New Password -->
      <ion-item>
        <ion-label stacked color="color2">New Password</ion-label>
        <ion-input type="text" placeholder="New Password"></ion-input>
      </ion-item>

      <!-- Confirm Password -->
      <ion-item>
        <ion-label stacked color="color2">Confirm Password</ion-label>
        <ion-input type="text" placeholder="Confirm Password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-row justify-content-center align-items-center>
      <button ion-button block type="button" color="color2">
          Update Password
      </button>
    </ion-row>
  </form>
</div>