<div class="container">
  <form class="animated zoomIn contents">
    <ion-list>

      <!-- Cardholder Name -->
      <ion-item>
        <ion-label stacked color="color2">Cardholder Name</ion-label>
        <ion-input type="text" placeholder="Cardholder Name"></ion-input>
      </ion-item>

      <!-- Card Number -->
      <ion-item>
        <ion-label stacked color="color2">Card Number</ion-label>
        <ion-input type="text" placeholder="Card Number"></ion-input>
      </ion-item>

      <!-- Expire Date -->
      <ion-item>
        <ion-label stacked color="color2">Expire Date</ion-label>
        <ion-input type="text" placeholder="Expire Date"></ion-input>
      </ion-item>

      <!-- CVC -->
      <ion-item>
        <ion-label stacked color="color2">CVC</ion-label>
        <ion-input type="text" placeholder="CVC"></ion-input>
      </ion-item>
    </ion-list>

    <ion-row justify-content-center align-items-center>
      <button ion-button block type="button" color="color2">
          Update Card Info
      </button>
    </ion-row>
  </form>
</div>