page-landing {
    .container {
        .scroll-content {
            padding-top: 0 !important;
        }
        .slide-background {
            background-size: cover !important;
            background-position: center;
            background-repeat: no-repeat;
            border-color: transparent;
        }
        .slide-zoom {
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
            height: 100%;
        }
        .slide-text-content {
            width: 100vw;
            height: 100vh;
            .company-info {
                color: color($colors, white);
                top: 10%;
                position: relative;
                img {
                    width: 100px;
                    border-radius: 50%;
                }
                h2 {
                    font-size: 3.5rem;
                }
                .slide-text {
                    position: relative;
                    text-align: center;
                    top: 30%;
                    transform: translateY(-30%);
                    color: color($colors, white);
                    font-size: 2rem;
                }
            }
        }
        .floating-buttons {
            z-index: 1;
            width: 100%;
            bottom: 0;
            position: absolute;
            margin-bottom: 50px;
            transition: all .4s linear;
            .btn-container {
                padding-top: 20%;
                .custom-btn {
                    color: color($colors, color1);
                    font-size: 16px;
                    font-weight: bold;
                    .facebook {
                        color: #3B5998;
                    }
                    .google {
                        color: red;
                    }
                    .twitter {
                        color: #1dcaff;
                    }
                }
                .login {
                    padding: 0 10rem;
                }
            }
        }
    }
    .swiper-pagination-bullet {
        background-color: color($colors, white);
    }
}