

<ion-content>
  <div class="container">


    <div class="top-content" text-center>
      <div class="animated fadeInDown title">SIGN IN</div>
    </div>


    <div class="form-content">

      <form class="animated slideInUp" [formGroup]="signInForm">
        <ion-list>


          <ion-item>
            <ion-label>
              <ion-icon name="md-mail" color="color2"></ion-icon>
            </ion-label>
            <ion-input type="email" #username placeholder="Your Email Address" name="email" formControlName="email" [(ngModel)]="signInForm.email"
              [class.invalid]="!signInForm.controls.email.valid && signInForm.controls.email.dirty"></ion-input>
          </ion-item>


          <div class="error-message" *ngIf="!signInForm.controls.email.valid  && signInForm.controls.email.dirty">
            <p>Please enter a valid email address.</p>
          </div>


          <ion-item>
            <ion-label>
              <ion-icon name="md-eye" color="color2"></ion-icon>
            </ion-label>
            <ion-input type="password" #userpass placeholder="Your Password" name="password" formControlName="password" [(ngModel)]="signInForm.password"
              [class.invalid]="!signInForm.controls.password.valid && signInForm.controls.password.dirty"></ion-input>
          </ion-item>


          <div class="error-message" *ngIf="!signInForm.controls.password.valid  && signInForm.controls.password.dirty">
            <p>Please enter a valid password.</p>
          </div>


          <ion-item no-lines text-right>
            <button ion-button clear color="color3" (tap)="goToForgetPasswordPage()">Forget Password?</button>
          </ion-item>
        </ion-list>


        <button ion-button round block type="button" class="custom-btn" (tap)="doLogin()">
            Sign In
        </button>


        <ion-row justify-content-center align-items-center>
          <button ion-button clear type="button" color="color3" (tap)="goToSignUpPage()">
              Dont have an account? Sign Up
          </button>
        </ion-row>

        <p text-center>Or Sign Up Using</p>


        <ion-row justify-content-center align-items-center>

          <button ion-fab mini type = "button" class="facebook" (tap) = "logInWithFacebook()">
            <span class="fa fa-facebook " aria-hidden="true"></span>
          </button>

          <button ion-fab mini class="google" (tap) = "logInWithGoogle()">
            <span class="fa fa-google " aria-hidden="true"></span>
          </button>

          <button ion-fab mini class="twitter"(tap) = "logInWithTwitter()">
            <span class="fa fa-twitter " aria-hidden="true"></span>
          </button>
        </ion-row>
      </form>
    </div>
  </div>
</ion-content>