page-car-details {
    .car-name {
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        line-height: 0;
    }
    .car-image {
        text-align: center;
        img {
            height: 150px;
        }
    }
    ion-grid {
        text-align: center;
        padding: 30px 0px !important;
        ion-row {
            i {
                font-size: 3rem !important;
                color: color($colors, color2);
            }
            .p1 {
                font-size: 2rem;
                color: #000;
                font-weight: 500;
            }
            .p2 {
                line-height: 0;
                color: color($colors, color3);
                font-weight: 500;
            }
            .custom-col {
                border-right: 1px solid color($colors, color3);
            }
        }
        .border {
            border-bottom: 1px solid color($colors, color3);
        }
    }
    ion-footer {
        .custom-btn {
            background: linear-gradient(to right bottom, color($colors, color1), color($colors, color2));
            padding: 2.2rem 7.2rem;
            font-size: 16px;
            font-weight: bold;
        }
    }
}