<!-- Generated template for the HeaderOneComponent component -->

<!--
  - This component is for header toolber.
  - that contains menu button, page title, notification and language change options 
-->
<ion-navbar no-border>

  <!-- Menu-->
  <button color="blue" ion-button menuToggle>
    <ion-icon name="menu" color="white"></ion-icon>
  </button>

  <!-- Page Title  -->
  <ion-title color="white">{{title}}</ion-title>

  <!-- Buttons  -->
  
  <ion-buttons right>
    
    
    <!-- Notification Button  -->
    <ion-item>
      <ion-icon color = "white"(tap)="createTrip()" ><i class="fas fa-suitcase"></i></ion-icon>
    </ion-item>
    <button ion-button icon-only color="white" id="notification-button" (tap)="openNotification($event)">
      <ion-icon name="notifications">
        <ion-badge id="notifications-badge" color="danger">5</ion-badge>
      </ion-icon>
    </button>

    <!-- Language Settings Option  -->
    <button ion-button icon-only color="white" (tap)="goToLanguageSettingPage()">
      <ion-icon name="md-options"></ion-icon>
    </button>
    
  </ion-buttons>

</ion-navbar>