page-checkout {
    ion-content {
        .pricing {
            text-align: center;
            color: color($colors, color2);
            font-weight: bold;
            .title {
                font-size: 5rem;
            }
            .cost {
                font-size: 4rem;
            }
        }
        .options {
            .color2 {
                color: color($colors, color2);
            }
            .light {
                color: color($colors, color3);
            }
        }
    }
    ion-footer {
        .custom-btn {
            background-image: linear-gradient(to right bottom, color($colors, color1), color($colors, color2));
            font-size: 16px;
            font-weight: bold;
        }
    }
}