header-two {
    .toolbar-background {
        background: linear-gradient(to right bottom, color($colors, color1), color($colors, color2));
        border: none;
    }
    .toolbar-title {
        color: #fff !important;
    }
}